openapi: 3.0.3
info:
  title: 'Match Play API Documentation'
  description: 'The Match Play Events API allows you to programmatically access tournament information. If you have questions or if you more more data exposed, please write to play@matchplay.events'
  version: 1.0.0
servers:
  -
    url: 'https://app.matchplay.events'
paths:
  /api/arenas:
    get:
      summary: 'Get arenas'
      operationId: getArenas
      description: 'Returns a list of arenas owned by the current user.'
      parameters:
        -
          in: query
          name: status
          description: 'Filter to arenas with a specific status. Possible values: active, inactive.'
          example: active
          required: false
          schema:
            type: string
            description: 'Filter to arenas with a specific status. Possible values: active, inactive.'
            example: active
        -
          in: query
          name: arenas
          description: 'Comma-separated list of arena ids to get. Provide up to 25 ids.'
          example: null
          required: false
          schema:
            type: string
            description: 'Comma-separated list of arena ids to get. Provide up to 25 ids.'
            example: null
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Arenas
  /api/dashboard:
    get:
      summary: 'Get dashboard'
      operationId: getDashboard
      description: "Get a list of tournaments a user's active tournaments and series."
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Dashboard
  /api/games:
    get:
      summary: 'Get games'
      operationId: getGames
      description: 'Get matchplay games from any tournament. If you are interested in games from a single tournament (including results data) see "Get games in tournament" in the "Tournaments" section.'
      parameters:
        -
          in: query
          name: tournaments
          description: 'Comma-separated list of tournament ids to get games for. Provide up to 25 ids.'
          example: null
          required: false
          schema:
            type: string
            description: 'Comma-separated list of tournament ids to get games for. Provide up to 25 ids.'
            example: null
        -
          in: query
          name: series
          description: 'Comma-separated list of series ids to get games for. Provide up to 5 ids.'
          example: null
          required: false
          schema:
            type: string
            description: 'Comma-separated list of series ids to get games for. Provide up to 5 ids.'
            example: null
        -
          in: query
          name: player
          description: 'Filter by player id'
          example: 6
          required: false
          schema:
            type: integer
            description: 'Filter by player id'
            example: 6
        -
          in: query
          name: arena
          description: 'Filter by arena id'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Filter by arena id'
            example: 2
        -
          in: query
          name: round
          description: 'Filter by round id'
          example: 7
          required: false
          schema:
            type: integer
            description: 'Filter by round id'
            example: 7
        -
          in: query
          name: bank
          description: 'Filter by bank id'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Filter by bank id'
            example: 3
        -
          in: query
          name: status
          description: 'Filter by status. Possible values: started, completed'
          example: suscipit
          required: false
          schema:
            type: string
            description: 'Filter by status. Possible values: started, completed'
            example: suscipit
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Games
  /api/ifpa/wppr-estimator:
    post:
      summary: 'Estimate WPPRs for a list of players.'
      operationId: estimateWPPRsForAListOfPlayers
      description: 'Provide EITHER a tournament id OR a series id OR a list of ifpaIds/names.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - IFPA
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                tournamentId:
                  type: integer
                  description: 'Tournament id.'
                  example: null
                seriesId:
                  type: integer
                  description: 'Series id.'
                  example: null
                ifpaIds:
                  type: array
                  description: 'List of IFPA ids.'
                  example: null
                  items:
                    type: integer
                names:
                  type: array
                  description: 'Optional list of player names to try to convert to IFPA ids.'
                  example: null
                  items:
                    type: string
  /api/locations:
    get:
      summary: 'Get locations'
      operationId: getLocations
      description: 'Returns a list of locations owned by the current user.'
      parameters:
        -
          in: query
          name: status
          description: 'Filter to locations with a specific status. Possible values: active, inactive.'
          example: active
          required: false
          schema:
            type: string
            description: 'Filter to locations with a specific status. Possible values: active, inactive.'
            example: active
        -
          in: query
          name: locations
          description: 'Comma-separated list of location ids to get. Provide up to 25 ids.'
          example: null
          required: false
          schema:
            type: string
            description: 'Comma-separated list of location ids to get. Provide up to 25 ids.'
            example: null
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Locations
  /api/pintips:
    get:
      summary: 'Get PinTips for a specific machine'
      operationId: getPinTipsForASpecificMachine
      description: ''
      parameters:
        -
          in: query
          name: opdbId
          description: 'Optional. OPDB id of machine to get PinTips for.'
          example: G4do5-MDlN7
          required: false
          schema:
            type: string
            description: 'Optional. OPDB id of machine to get PinTips for.'
            example: G4do5-MDlN7
        -
          in: query
          name: arenaId
          description: 'Optional. Arena id of machine to get PinTips for.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Optional. Arena id of machine to get PinTips for.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - PinTips
  /api/players:
    get:
      summary: 'Get players'
      operationId: getPlayers
      description: 'Returns a list of players owned by the current user'
      parameters:
        -
          in: query
          name: status
          description: 'Filter to players with a specific status. Possible values: active, inactive.'
          example: active
          required: false
          schema:
            type: string
            description: 'Filter to players with a specific status. Possible values: active, inactive.'
            example: active
        -
          in: query
          name: players
          description: 'Comma-separated list of player ids to get. Provide up to 25 ids.'
          example: null
          required: false
          schema:
            type: string
            description: 'Comma-separated list of player ids to get. Provide up to 25 ids.'
            example: null
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Players
  /api/users/profile:
    get:
      summary: 'Get own profile'
      operationId: getOwnProfile
      description: 'Get profile data for the currently authenticated user'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  userId: 1
                  name: 'Andreas Haugstrup Pedersen'
                  ifpaId: 15925
                  role: player
                  flag: us-ca
                  location: 'San Francisco'
                  pronouns: he
                  initials: AHP
                  createdAt: '2015-01-18T16:34:35.000000Z'
                properties:
                  userId:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: 'Andreas Haugstrup Pedersen'
                  ifpaId:
                    type: integer
                    example: 15925
                  role:
                    type: string
                    example: player
                  flag:
                    type: string
                    example: us-ca
                  location:
                    type: string
                    example: 'San Francisco'
                  pronouns:
                    type: string
                    example: he
                  initials:
                    type: string
                    example: AHP
                  createdAt:
                    type: string
                    example: '2015-01-18T16:34:35.000000Z'
      tags:
        - Profiles
  '/api/users/{user_user_id}':
    get:
      summary: 'Get profile for user'
      operationId: getProfileForUser
      description: 'Get profile data for a specific user, including rating and IFPA data'
      parameters:
        -
          in: query
          name: includeIfpa
          description: 'Include IFPA data in response. No-Example'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Include IFPA data in response. No-Example'
            example: true
        -
          in: query
          name: includeCounts
          description: 'Include tournament counts in response. No-Example'
          example: false
          required: false
          schema:
            type: boolean
            description: 'Include tournament counts in response. No-Example'
            example: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user:
                    userId: 1
                    name: 'Andreas Haugstrup Pedersen'
                    ifpaId: 15925
                    role: player
                    flag: us-ca
                    location: 'San Francisco'
                    pronouns: he
                    initials: AHP
                    avatar: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/avatar-U1-1679585204.jpg'
                    banner: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/banner-U1-1679585219.jpg'
                    tournamentAvatar: null
                    createdAt: '2015-01-18T16:34:35.000000Z'
                  rating:
                    ratingId: 640
                    userId: 1
                    ifpaId: 15925
                    name: 'Andreas Haugstrup Pedersen'
                    rating: 1538
                    rd: 37
                    calculatedRd: 38
                    lowerBound: 1461
                    lastRatingPeriod: '2017-08-29T00:00:00.000000Z'
                    rank: 894
                  ifpa:
                    ifpaId: 15925
                    name: 'Andreas Haugstrup Pedersen'
                    rank: null
                    rating: 1502.27
                    ratingRank: 1884
                    womensRank: null
                    totalEvents: 162
                    initials: AHP
                    city: 'San Francisco'
                    state: CA
                    countryCode: DK
                    countryName: Denmark
                    updatedAt: '2024-01-04T06:16:55.000000Z'
                  shortcut: null
                  plan: null
                  userCounts:
                    tournamentOrganizedCount: 0
                    seriesOrganizedCount: 0
                    tournamentPlayCount: 0
                    ratingPeriodCount: 0
                properties:
                  user:
                    type: object
                    properties:
                      userId:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Andreas Haugstrup Pedersen'
                      ifpaId:
                        type: integer
                        example: 15925
                      role:
                        type: string
                        example: player
                      flag:
                        type: string
                        example: us-ca
                      location:
                        type: string
                        example: 'San Francisco'
                      pronouns:
                        type: string
                        example: he
                      initials:
                        type: string
                        example: AHP
                      avatar:
                        type: string
                        example: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/avatar-U1-1679585204.jpg'
                      banner:
                        type: string
                        example: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/banner-U1-1679585219.jpg'
                      tournamentAvatar:
                        type: string
                        example: null
                      createdAt:
                        type: string
                        example: '2015-01-18T16:34:35.000000Z'
                  rating:
                    type: object
                    properties:
                      ratingId:
                        type: integer
                        example: 640
                      userId:
                        type: integer
                        example: 1
                      ifpaId:
                        type: integer
                        example: 15925
                      name:
                        type: string
                        example: 'Andreas Haugstrup Pedersen'
                      rating:
                        type: integer
                        example: 1538
                      rd:
                        type: integer
                        example: 37
                      calculatedRd:
                        type: integer
                        example: 38
                      lowerBound:
                        type: integer
                        example: 1461
                      lastRatingPeriod:
                        type: string
                        example: '2017-08-29T00:00:00.000000Z'
                      rank:
                        type: integer
                        example: 894
                  ifpa:
                    type: object
                    properties:
                      ifpaId:
                        type: integer
                        example: 15925
                      name:
                        type: string
                        example: 'Andreas Haugstrup Pedersen'
                      rank:
                        type: string
                        example: null
                      rating:
                        type: number
                        example: 1502.27
                      ratingRank:
                        type: integer
                        example: 1884
                      womensRank:
                        type: string
                        example: null
                      totalEvents:
                        type: integer
                        example: 162
                      initials:
                        type: string
                        example: AHP
                      city:
                        type: string
                        example: 'San Francisco'
                      state:
                        type: string
                        example: CA
                      countryCode:
                        type: string
                        example: DK
                      countryName:
                        type: string
                        example: Denmark
                      updatedAt:
                        type: string
                        example: '2024-01-04T06:16:55.000000Z'
                  shortcut:
                    type: string
                    example: null
                  plan:
                    type: string
                    example: null
                  userCounts:
                    type: object
                    properties:
                      tournamentOrganizedCount:
                        type: integer
                        example: 0
                      seriesOrganizedCount:
                        type: integer
                        example: 0
                      tournamentPlayCount:
                        type: integer
                        example: 0
                      ratingPeriodCount:
                        type: integer
                        example: 0
      tags:
        - Profiles
    parameters:
      -
        in: path
        name: user_user_id
        description: 'The ID of the user user.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: user
        description: 'The user id.'
        example: 1
        required: true
        schema:
          type: integer
  /api/ratings/compare:
    post:
      summary: 'Compare players'
      operationId: comparePlayers
      description: "Compare the ratings and head-to-head records of multiple players.\nFetch ratings based on the user id, IFPA id or player id. Do not\ninclude the same player in more than one category. For example,\ndo not provide an IFPA and user id for the same player."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  globalRatingRange:
                    min: 801.49
                    max: 2118.13
                  ratings: []
                  records: []
                properties:
                  globalRatingRange:
                    type: object
                    properties:
                      min:
                        type: number
                        example: 801.49
                      max:
                        type: number
                        example: 2118.13
                  ratings:
                    type: array
                    example: []
                  records:
                    type: array
                    example: []
      tags:
        - Ratings
  /api/ratings/search:
    get:
      summary: 'Search ratings'
      operationId: searchRatings
      description: 'Search rating objects by the rating name.'
      parameters:
        -
          in: query
          name: query
          description: 'String to search for.'
          example: null
          required: false
          schema:
            type: integer
            description: 'String to search for.'
            example: null
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
  /api/ratings/ifpa:
    get:
      summary: 'Ratings for IFPA ids'
      operationId: ratingsForIFPAIds
      description: 'Get rating objects for a number of IFPA ids.'
      parameters:
        -
          in: query
          name: date
          description: 'Optional, leave blank to get most recent data. Rating period to return ratings for. Format: YYYY-MM-DD.'
          example: null
          required: false
          schema:
            type: string
            description: 'Optional, leave blank to get most recent data. Rating period to return ratings for. Format: YYYY-MM-DD.'
            example: null
        -
          in: query
          name: ifpaIds
          description: 'Comma-separated list of ifpa ids to get. Provide up to 200 IFPA ids (25 ids is providing a specific date).'
          example: null
          required: false
          schema:
            type: string
            description: 'Comma-separated list of ifpa ids to get. Provide up to 200 IFPA ids (25 ids is providing a specific date).'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
  '/api/ratings/{type}/{id}':
    get:
      summary: 'Get full rating profile'
      operationId: getFullRatingProfile
      description: 'Retrieve the full rating profile for a single player. Includes rating history for the past year.'
      parameters:
        -
          in: query
          name: type
          description: 'Either `users` to get profile by user id or `ifpa` to get profile by IFPA id.'
          example: null
          required: false
          schema:
            type: string
            description: 'Either `users` to get profile by user id or `ifpa` to get profile by IFPA id.'
            example: null
        -
          in: query
          name: id
          description: 'The user id or IFPA id of the profile.'
          example: null
          required: false
          schema:
            type: integer
            description: 'The user id or IFPA id of the profile.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    parameters:
      -
        in: path
        name: type
        description: ''
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the {type}.'
        example: dignissimos
        required: true
        schema:
          type: string
  '/api/ratings/{type}/{id}/summary':
    get:
      summary: 'Get summary rating profile'
      operationId: getSummaryRatingProfile
      description: 'Retrieve the summary rating profile for a single player. Includes only the basic rating data'
      parameters:
        -
          in: query
          name: type
          description: 'Either `users` to get profile by user id or `ifpa` to get profile by IFPA id.'
          example: null
          required: false
          schema:
            type: string
            description: 'Either `users` to get profile by user id or `ifpa` to get profile by IFPA id.'
            example: null
        -
          in: query
          name: id
          description: 'The user id or IFPA id of the profile.'
          example: null
          required: false
          schema:
            type: integer
            description: 'The user id or IFPA id of the profile.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    parameters:
      -
        in: path
        name: type
        description: ''
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the {type}.'
        example: qui
        required: true
        schema:
          type: string
  /api/ratings:
    get:
      summary: 'Get current rating data'
      operationId: getCurrentRatingData
      description: 'Retrieve a list of rating objects. You can filter the list to match only specific players.'
      parameters:
        -
          in: query
          name: userIds
          description: 'Comma-separated list of user ids to get.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Comma-separated list of user ids to get.'
            example: null
        -
          in: query
          name: ifpaIds
          description: 'Comma-separated list of ifpa ids to get.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Comma-separated list of ifpa ids to get.'
            example: null
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
  '/api/ifpa/{ifpaId}/rating-history':
    get:
      summary: 'Get rating history for IFPA id'
      operationId: getRatingHistoryForIFPAId
      description: 'Retrieve a list of rating history objects for a single player based on their IFPA id.'
      parameters:
        -
          in: query
          name: limit
          description: 'How many results to get. Defaults to 100. Max is 500.'
          example: null
          required: false
          schema:
            type: integer
            description: 'How many results to get. Defaults to 100. Max is 500.'
            example: null
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    parameters:
      -
        in: path
        name: ifpaId
        description: ''
        example: soluta
        required: true
        schema:
          type: string
  /api/rating-periods:
    get:
      summary: 'Get rating periods'
      operationId: getRatingPeriods
      description: 'Retrieve a list of rating periods'
      parameters:
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
  '/api/rating-periods/{ratingPeriodDate}':
    get:
      summary: 'Get single rating period'
      operationId: getSingleRatingPeriod
      description: 'Retrieve details for a single rating period'
      parameters:
        -
          in: query
          name: ratingPeriod
          description: 'The date of the rating period in the format YYYY-MM-DD.'
          example: null
          required: false
          schema:
            type: integer
            description: 'The date of the rating period in the format YYYY-MM-DD.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    parameters:
      -
        in: path
        name: ratingPeriodDate
        description: ''
        example: quia
        required: true
        schema:
          type: string
  /api/rating-submissions:
    get:
      summary: 'Get rating submissions'
      operationId: getRatingSubmissions
      description: 'Retrieve a list of rating submissions'
      parameters:
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    post:
      summary: 'Create a rating submission from a URL'
      operationId: createARatingSubmissionFromAURL
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: 'Submission URL.'
                  example: null
  '/api/rating-submissions/{ratingSubmission_rating_submission_id}':
    get:
      summary: 'Get single rating submission'
      operationId: getSingleRatingSubmission
      description: 'Retrieve details for a single rating submission'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    parameters:
      -
        in: path
        name: ratingSubmission_rating_submission_id
        description: 'The ID of the ratingSubmission rating submission.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/rating-submissions/{ratingSubmission_rating_submission_id}/ifpa':
    post:
      summary: 'Set IFPA numbers for rating submission players'
      operationId: setIFPANumbersForRatingSubmissionPlayers
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Ratings
    parameters:
      -
        in: path
        name: ratingSubmission_rating_submission_id
        description: 'The ID of the ratingSubmission rating submission.'
        example: 1
        required: true
        schema:
          type: integer
  /api/search:
    get:
      summary: 'Perform search'
      operationId: performSearch
      description: 'Search either tournaments or users.'
      parameters:
        -
          in: query
          name: query
          description: 'String to search for.'
          example: 'SFPD Spring 2020 #3'
          required: true
          schema:
            type: string
            description: 'String to search for.'
            example: 'SFPD Spring 2020 #3'
        -
          in: query
          name: type
          description: 'Type of search. Possible values: tournaments, seris, users.'
          example: tournaments
          required: true
          schema:
            type: string
            description: 'Type of search. Possible values: tournaments, seris, users.'
            example: tournaments
        -
          in: query
          name: page
          description: 'Which page of results to get. Defaults to 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Which page of results to get. Defaults to 1.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      tournamentId: 76546
                      name: 'SFPD Test Season #1'
                      status: completed
                      type: group_matchplay
                      startUtc: '2022-08-25T14:50:00.000000Z'
                      startLocal: '2022-08-25 07:50:00'
                      endUtc: '2022-08-25T14:50:00.000000Z'
                      endLocal: '2022-08-25 07:50:00'
                      completedAt: '2022-08-25T23:37:21.000000Z'
                      organizerId: 348
                      locationId: null
                      seriesId: 2126
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: 76549
                      estimatedTgp: null
                      organizer:
                        userId: 348
                        name: 'Match Play Test Device'
                        ifpaId: null
                        role: organizer
                        flag: dk
                        location: 'San Francisco'
                        pronouns: it
                        initials: MP
                        avatar: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/avatar-U348-1679584352.jpg'
                        banner: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/banner-U348-1679553817.jpg'
                        tournamentAvatar: null
                        createdAt: '2015-10-17T00:32:05.000000Z'
                      location: null
                      seeding: random
                      firstRoundPairing: random
                      pairing: balanced
                      playerOrder: balanced
                      arenaAssignment: balanced
                      duration: 0
                      gamesPerRound: 1
                      playoffsCutoff: 0
                      suggestions: disabled
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 76547
                      name: 'SFPD Test Season #2'
                      status: completed
                      type: group_matchplay
                      startUtc: '2022-08-11T15:02:00.000000Z'
                      startLocal: '2022-08-11 08:02:00'
                      endUtc: '2022-08-11T15:02:00.000000Z'
                      endLocal: '2022-08-11 08:02:00'
                      completedAt: '2023-08-04T06:43:55.000000Z'
                      organizerId: 348
                      locationId: null
                      seriesId: 2126
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 348
                        name: 'Match Play Test Device'
                        ifpaId: null
                        role: organizer
                        flag: dk
                        location: 'San Francisco'
                        pronouns: it
                        initials: MP
                        avatar: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/avatar-U348-1679584352.jpg'
                        banner: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/banner-U348-1679553817.jpg'
                        tournamentAvatar: null
                        createdAt: '2015-10-17T00:32:05.000000Z'
                      location: null
                      seeding: manual
                      firstRoundPairing: random
                      pairing: balanced_series
                      playerOrder: balanced
                      arenaAssignment: balanced
                      duration: 0
                      gamesPerRound: 1
                      playoffsCutoff: 0
                      suggestions: disabled
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 76549
                      name: 'Finals for SFPD Test Season #1'
                      status: planned
                      type: amazingrace
                      startUtc: '2022-08-11T14:50:00.000000Z'
                      startLocal: '2022-08-11 07:50:00'
                      endUtc: '2022-08-11T14:50:00.000000Z'
                      endLocal: '2022-08-11 07:50:00'
                      completedAt: null
                      organizerId: 348
                      locationId: null
                      seriesId: null
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 348
                        name: 'Match Play Test Device'
                        ifpaId: null
                        role: organizer
                        flag: dk
                        location: 'San Francisco'
                        pronouns: it
                        initials: MP
                        avatar: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/avatar-U348-1679584352.jpg'
                        banner: 'https://mp-avatars.sfo3.cdn.digitaloceanspaces.com/banner-U348-1679553817.jpg'
                        tournamentAvatar: null
                        createdAt: '2015-10-17T00:32:05.000000Z'
                      location: null
                      seeding: manual
                      arenaAssignment: manual
                      playoffsCutoff: 0
                    -
                      tournamentId: 73408
                      name: "DFW Women's Pinball (Belles & Chimes) LEAGUE, Event 6, Spring 2022"
                      status: planned
                      type: best_game
                      startUtc: '2022-07-30T19:00:00.000000Z'
                      startLocal: '2022-07-30 14:00:00'
                      endUtc: '2022-07-30T19:00:00.000000Z'
                      endLocal: '2022-07-30 14:00:00'
                      completedAt: null
                      organizerId: 1945
                      locationId: 6201
                      seriesId: 2058
                      description: 'This is a 6 Event series with a 7th Event as the FINALS.To qualify for Finals, you must play at least 3 Events. Top 50% will qualify for Finals. Some women may choose to play in Mixed Final, next qualifier will take that position. Finals is 2-Strikes'
                      pointsMap: null
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: user
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1945
                        name: 'Lora Tennison'
                        ifpaId: 45203
                        role: player
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-07-03T18:50:01.000000Z'
                      location:
                        locationId: 6201
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Rickie Carson's Collection"
                        organizerId: 1945
                        status: active
                        address: '1228 Stillwater Trail, Carrollton, TX 75007, USA'
                      bestGameScoring: bg_linear
                      bestGameOverallAttempts: 0
                      playoffsCutoff: 0
                      useQueues: false
                      bestGameAttemptsOnArena: 0
                      bestGameArenasCounted: 0
                      bestGameNumberOfBestGames: 1
                      suggestions: restricted
                    -
                      tournamentId: 73407
                      name: "DFW Women's Pinball (Belles & Chimes) LEAGUE, Event 5, Spring 2022"
                      status: planned
                      type: best_game
                      startUtc: '2022-07-09T19:00:00.000000Z'
                      startLocal: '2022-07-09 14:00:00'
                      endUtc: '2022-07-09T19:00:00.000000Z'
                      endLocal: '2022-07-09 14:00:00'
                      completedAt: null
                      organizerId: 1945
                      locationId: 6200
                      seriesId: 2058
                      description: 'This is a 6 Event series with a 7th Event as the FINALS.To qualify for Finals, you must play at least 3 Events. Top 50% will qualify for Finals. Some women may choose to play in Mixed Final, next qualifier will take that position. Finals is 2-Strikes'
                      pointsMap: null
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: user
                      link: 'https://facebook.com/DFW-Womens-Pinball-League'
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1945
                        name: 'Lora Tennison'
                        ifpaId: 45203
                        role: player
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-07-03T18:50:01.000000Z'
                      location:
                        locationId: 6200
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Jorge Ramos & Warren Joe's Collections"
                        organizerId: 1945
                        status: active
                        address: '8426 County Rd 301, Grandview, TX 76050, USA'
                      bestGameScoring: bg_linear
                      bestGameOverallAttempts: 0
                      playoffsCutoff: 0
                      useQueues: false
                      bestGameAttemptsOnArena: 0
                      bestGameArenasCounted: 0
                      bestGameNumberOfBestGames: 1
                      suggestions: restricted
                    -
                      tournamentId: 72993
                      name: 'MFLadies Pinball Spring 2022 #10'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-23T03:00:00.000000Z'
                      startLocal: '2022-06-22 20:00:00'
                      endUtc: '2022-06-23T03:00:00.000000Z'
                      endLocal: '2022-06-22 20:00:00'
                      completedAt: null
                      organizerId: 60
                      locationId: 3969
                      seriesId: 2050
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 60
                        name: 'Cary carmichael'
                        ifpaId: 19422
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2015-05-31T19:59:43.000000Z'
                      location:
                        locationId: 3969
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Lynn's Arcade"
                        organizerId: 60
                        status: active
                        address: null
                      seeding: random
                      firstRoundPairing: random
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 5
                      gamesPerRound: 1
                      playoffsCutoff: 0
                      suggestions: disabled
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 75302
                      name: 'TILT Spring League - Competitive #6'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-22T01:00:00.000000Z'
                      startLocal: '2022-06-21 20:00:00'
                      endUtc: '2022-06-22T01:00:00.000000Z'
                      endLocal: '2022-06-21 20:00:00'
                      completedAt: null
                      organizerId: 1029
                      locationId: 1215
                      seriesId: 2103
                      description: null
                      pointsMap:
                        -
                          - 5
                        -
                          - 5
                          - 1
                        -
                          - 5
                          - 3
                          - 1
                        -
                          - 5
                          - 3
                          - 2
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1029
                        name: 'D&G Pinball'
                        ifpaId: null
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-03-27T15:48:55.000000Z'
                      location:
                        locationId: 1215
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Tilt Pinball Bar'
                        organizerId: 1029
                        status: active
                        address: '113 E 26th St #110, Minneapolis, MN 55404, USA'
                      seeding: manual
                      firstRoundPairing: adjacent
                      pairing: balanced
                      playerOrder: balanced
                      arenaAssignment: disabled
                      duration: 1
                      gamesPerRound: 5
                      playoffsCutoff: 0
                      suggestions: automatic
                      tiebreaker: disabled
                      scoring: winnerbonus
                    -
                      tournamentId: 75308
                      name: 'TILT Spring League -Recreational #6'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-22T01:00:00.000000Z'
                      startLocal: '2022-06-21 20:00:00'
                      endUtc: '2022-06-22T01:00:00.000000Z'
                      endLocal: '2022-06-21 20:00:00'
                      completedAt: null
                      organizerId: 1029
                      locationId: 1215
                      seriesId: 2104
                      description: null
                      pointsMap:
                        -
                          - 5
                        -
                          - 5
                          - 1
                        -
                          - 5
                          - 3
                          - 1
                        -
                          - 5
                          - 3
                          - 2
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1029
                        name: 'D&G Pinball'
                        ifpaId: null
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-03-27T15:48:55.000000Z'
                      location:
                        locationId: 1215
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Tilt Pinball Bar'
                        organizerId: 1029
                        status: active
                        address: '113 E 26th St #110, Minneapolis, MN 55404, USA'
                      seeding: random
                      firstRoundPairing: random
                      pairing: balanced_series
                      playerOrder: balanced
                      arenaAssignment: disabled
                      duration: 1
                      gamesPerRound: 5
                      playoffsCutoff: 0
                      suggestions: automatic
                      tiebreaker: disabled
                      scoring: winnerbonus
                    -
                      tournamentId: 75502
                      name: 'Excelsior Spring 2022 FINAL BATTLE (B-Division)'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-20T02:20:00.000000Z'
                      startLocal: '2022-06-19 22:20:00'
                      endUtc: '2022-06-20T02:20:00.000000Z'
                      endLocal: '2022-06-19 22:20:00'
                      completedAt: null
                      organizerId: 4470
                      locationId: 1322
                      seriesId: null
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/New_York
                      scorekeeping: user
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 4470
                        name: 'Tim Varney'
                        ifpaId: 53187
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2017-06-19T18:32:03.000000Z'
                      location:
                        locationId: 1322
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Excelsior Pub'
                        organizerId: 4470
                        status: active
                        address: '54 Philip St, Albany, NY 12207, USA'
                      seeding: manual
                      firstRoundPairing: adjacent
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 0
                      gamesPerRound: 4
                      playoffsCutoff: 0
                      suggestions: restricted
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 75501
                      name: 'Excelsior Spring 2022 FINAL BATTLE (A-Division)'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-20T02:20:00.000000Z'
                      startLocal: '2022-06-19 22:20:00'
                      endUtc: '2022-06-20T02:20:00.000000Z'
                      endLocal: '2022-06-19 22:20:00'
                      completedAt: null
                      organizerId: 4470
                      locationId: 1322
                      seriesId: 2066
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/New_York
                      scorekeeping: user
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 4470
                        name: 'Tim Varney'
                        ifpaId: 53187
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2017-06-19T18:32:03.000000Z'
                      location:
                        locationId: 1322
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Excelsior Pub'
                        organizerId: 4470
                        status: active
                        address: '54 Philip St, Albany, NY 12207, USA'
                      seeding: manual
                      firstRoundPairing: adjacent
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 0
                      gamesPerRound: 4
                      playoffsCutoff: 0
                      suggestions: restricted
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 72992
                      name: 'MFLadies Pinball Spring 2022 #9'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-16T03:00:00.000000Z'
                      startLocal: '2022-06-15 20:00:00'
                      endUtc: '2022-06-16T03:00:00.000000Z'
                      endLocal: '2022-06-15 20:00:00'
                      completedAt: null
                      organizerId: 60
                      locationId: 3969
                      seriesId: 2050
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 60
                        name: 'Cary carmichael'
                        ifpaId: 19422
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2015-05-31T19:59:43.000000Z'
                      location:
                        locationId: 3969
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Lynn's Arcade"
                        organizerId: 60
                        status: active
                        address: null
                      seeding: random
                      firstRoundPairing: random
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 5
                      gamesPerRound: 1
                      playoffsCutoff: 0
                      suggestions: disabled
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 75301
                      name: 'TILT Spring League - Competitive #5'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-15T01:00:00.000000Z'
                      startLocal: '2022-06-14 20:00:00'
                      endUtc: '2022-06-15T01:00:00.000000Z'
                      endLocal: '2022-06-14 20:00:00'
                      completedAt: null
                      organizerId: 1029
                      locationId: 1215
                      seriesId: 2103
                      description: null
                      pointsMap:
                        -
                          - 5
                        -
                          - 5
                          - 1
                        -
                          - 5
                          - 3
                          - 1
                        -
                          - 5
                          - 3
                          - 2
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1029
                        name: 'D&G Pinball'
                        ifpaId: null
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-03-27T15:48:55.000000Z'
                      location:
                        locationId: 1215
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Tilt Pinball Bar'
                        organizerId: 1029
                        status: active
                        address: '113 E 26th St #110, Minneapolis, MN 55404, USA'
                      seeding: manual
                      firstRoundPairing: adjacent
                      pairing: balanced
                      playerOrder: balanced
                      arenaAssignment: disabled
                      duration: 1
                      gamesPerRound: 5
                      playoffsCutoff: 0
                      suggestions: automatic
                      tiebreaker: disabled
                      scoring: winnerbonus
                    -
                      tournamentId: 75307
                      name: 'TILT Spring League -Recreational #5'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-15T01:00:00.000000Z'
                      startLocal: '2022-06-14 20:00:00'
                      endUtc: '2022-06-15T01:00:00.000000Z'
                      endLocal: '2022-06-14 20:00:00'
                      completedAt: null
                      organizerId: 1029
                      locationId: 1215
                      seriesId: 2104
                      description: null
                      pointsMap:
                        -
                          - 5
                        -
                          - 5
                          - 1
                        -
                          - 5
                          - 3
                          - 1
                        -
                          - 5
                          - 3
                          - 2
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1029
                        name: 'D&G Pinball'
                        ifpaId: null
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-03-27T15:48:55.000000Z'
                      location:
                        locationId: 1215
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Tilt Pinball Bar'
                        organizerId: 1029
                        status: active
                        address: '113 E 26th St #110, Minneapolis, MN 55404, USA'
                      seeding: random
                      firstRoundPairing: random
                      pairing: balanced_series
                      playerOrder: balanced
                      arenaAssignment: disabled
                      duration: 1
                      gamesPerRound: 5
                      playoffsCutoff: 0
                      suggestions: automatic
                      tiebreaker: disabled
                      scoring: winnerbonus
                    -
                      tournamentId: 72983
                      name: 'MFPinball Spring 2022 #10'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-14T03:00:00.000000Z'
                      startLocal: '2022-06-13 20:00:00'
                      endUtc: '2022-06-14T03:00:00.000000Z'
                      endLocal: '2022-06-13 20:00:00'
                      completedAt: null
                      organizerId: 60
                      locationId: 3969
                      seriesId: 2049
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 60
                        name: 'Cary carmichael'
                        ifpaId: 19422
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2015-05-31T19:59:43.000000Z'
                      location:
                        locationId: 3969
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Lynn's Arcade"
                        organizerId: 60
                        status: active
                        address: null
                      seeding: random
                      firstRoundPairing: random
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 5
                      gamesPerRound: 1
                      playoffsCutoff: 0
                      suggestions: disabled
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 75500
                      name: 'Excelsior Spring 2022 League #7'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-13T02:20:00.000000Z'
                      startLocal: '2022-06-12 22:20:00'
                      endUtc: '2022-06-13T02:20:00.000000Z'
                      endLocal: '2022-06-12 22:20:00'
                      completedAt: null
                      organizerId: 4470
                      locationId: 1322
                      seriesId: 2066
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/New_York
                      scorekeeping: user
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 4470
                        name: 'Tim Varney'
                        ifpaId: 53187
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2017-06-19T18:32:03.000000Z'
                      location:
                        locationId: 1322
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Excelsior Pub'
                        organizerId: 4470
                        status: active
                        address: '54 Philip St, Albany, NY 12207, USA'
                      seeding: manual
                      firstRoundPairing: adjacent
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 0
                      gamesPerRound: 4
                      playoffsCutoff: 0
                      suggestions: restricted
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 73406
                      name: "DFW Women's Pinball (Belles & Chimes) LEAGUE, Event 4, Spring 2022"
                      status: planned
                      type: best_game
                      startUtc: '2022-06-12T18:00:00.000000Z'
                      startLocal: '2022-06-12 13:00:00'
                      endUtc: '2022-06-12T18:00:00.000000Z'
                      endLocal: '2022-06-12 13:00:00'
                      completedAt: null
                      organizerId: 1945
                      locationId: 4193
                      seriesId: 2058
                      description: 'This is a 6 Event series with a 7th Event as the FINALS.To qualify for Finals, you must play at least 3 Events. Top 50% will qualify for Finals. Some women may choose to play in Mixed Final, next qualifier will take that position. Finals is 2-Strikes'
                      pointsMap: null
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: user
                      link: 'https://facebook.com/DFW-Womens-Pinball-League'
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1945
                        name: 'Lora Tennison'
                        ifpaId: 45203
                        role: player
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-07-03T18:50:01.000000Z'
                      location:
                        locationId: 4193
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Don Merki's Collection"
                        organizerId: 1945
                        status: active
                        address: '2005 Hollyhill Ln, Denton, TX 76205, USA'
                      bestGameScoring: bg_linear
                      bestGameOverallAttempts: 0
                      playoffsCutoff: 0
                      useQueues: false
                      bestGameAttemptsOnArena: 0
                      bestGameArenasCounted: 0
                      bestGameNumberOfBestGames: 1
                      suggestions: restricted
                    -
                      tournamentId: 72991
                      name: 'MFLadies Pinball Spring 2022 #8'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-09T03:00:00.000000Z'
                      startLocal: '2022-06-08 20:00:00'
                      endUtc: '2022-06-09T03:00:00.000000Z'
                      endLocal: '2022-06-08 20:00:00'
                      completedAt: null
                      organizerId: 60
                      locationId: 3969
                      seriesId: 2050
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 60
                        name: 'Cary carmichael'
                        ifpaId: 19422
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2015-05-31T19:59:43.000000Z'
                      location:
                        locationId: 3969
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Lynn's Arcade"
                        organizerId: 60
                        status: active
                        address: null
                      seeding: random
                      firstRoundPairing: random
                      pairing: swiss
                      playerOrder: rotating
                      arenaAssignment: balanced
                      duration: 5
                      gamesPerRound: 1
                      playoffsCutoff: 0
                      suggestions: disabled
                      tiebreaker: disabled
                      scoring: ifpa
                    -
                      tournamentId: 75300
                      name: 'TILT Spring League - Competitive #4'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-08T01:00:00.000000Z'
                      startLocal: '2022-06-07 20:00:00'
                      endUtc: '2022-06-08T01:00:00.000000Z'
                      endLocal: '2022-06-07 20:00:00'
                      completedAt: null
                      organizerId: 1029
                      locationId: 1215
                      seriesId: 2103
                      description: null
                      pointsMap:
                        -
                          - 5
                        -
                          - 5
                          - 1
                        -
                          - 5
                          - 3
                          - 1
                        -
                          - 5
                          - 3
                          - 2
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1029
                        name: 'D&G Pinball'
                        ifpaId: null
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-03-27T15:48:55.000000Z'
                      location:
                        locationId: 1215
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Tilt Pinball Bar'
                        organizerId: 1029
                        status: active
                        address: '113 E 26th St #110, Minneapolis, MN 55404, USA'
                      seeding: manual
                      firstRoundPairing: adjacent
                      pairing: balanced
                      playerOrder: balanced
                      arenaAssignment: disabled
                      duration: 1
                      gamesPerRound: 5
                      playoffsCutoff: 0
                      suggestions: automatic
                      tiebreaker: disabled
                      scoring: winnerbonus
                    -
                      tournamentId: 75306
                      name: 'TILT Spring League -Recreational #4'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-08T01:00:00.000000Z'
                      startLocal: '2022-06-07 20:00:00'
                      endUtc: '2022-06-08T01:00:00.000000Z'
                      endLocal: '2022-06-07 20:00:00'
                      completedAt: null
                      organizerId: 1029
                      locationId: 1215
                      seriesId: 2104
                      description: null
                      pointsMap:
                        -
                          - 5
                        -
                          - 5
                          - 1
                        -
                          - 5
                          - 3
                          - 1
                        -
                          - 5
                          - 3
                          - 2
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Chicago
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 1029
                        name: 'D&G Pinball'
                        ifpaId: null
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2016-03-27T15:48:55.000000Z'
                      location:
                        locationId: 1215
                        scorbitVenueId: null
                        pinballmapId: null
                        name: 'Tilt Pinball Bar'
                        organizerId: 1029
                        status: active
                        address: '113 E 26th St #110, Minneapolis, MN 55404, USA'
                      seeding: random
                      firstRoundPairing: random
                      pairing: balanced_series
                      playerOrder: balanced
                      arenaAssignment: disabled
                      duration: 1
                      gamesPerRound: 5
                      playoffsCutoff: 0
                      suggestions: automatic
                      tiebreaker: disabled
                      scoring: winnerbonus
                    -
                      tournamentId: 72982
                      name: 'MFPinball Spring 2022 #9'
                      status: planned
                      type: group_matchplay
                      startUtc: '2022-06-07T03:00:00.000000Z'
                      startLocal: '2022-06-06 20:00:00'
                      endUtc: '2022-06-07T03:00:00.000000Z'
                      endLocal: '2022-06-06 20:00:00'
                      completedAt: null
                      organizerId: 60
                      locationId: 3969
                      seriesId: 2049
                      description: null
                      pointsMap:
                        -
                          - 7
                        -
                          - 7
                          - 1
                        -
                          - 7
                          - 4
                          - 1
                        -
                          - 7
                          - 5
                          - 3
                          - 1
                      tiebreakerPointsMap:
                        -
                          - '0.50'
                        -
                          - '0.50'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.00'
                        -
                          - '0.50'
                          - '0.25'
                          - '0.12'
                          - '0.00'
                      test: false
                      timezone: America/Los_Angeles
                      scorekeeping: disabled
                      link: null
                      linkedTournamentId: null
                      estimatedTgp: null
                      organizer:
                        userId: 60
                        name: 'Cary carmichael'
                        ifpaId: 19422
                        role: organizer
                        flag: ''
                        location: ''
                        pronouns: ''
                        initials: ''
                        avatar: null
                        banner: null
                        tournamentAvatar: null
                        createdAt: '2015-05-31T19:59:43.000000Z'
                      location:
                        locationId: 3969
                        scorbitVenueId: null
                        pinballmapId: null
                        name: "Lynn's Arcade"
                        organizerId: 60
                        status: active
                        address: null
                      seeding: random
                      firstRoundPairing: random
[...]
