@import url('./main-layout.css');

@import url('./views/tournament-select-view.css');
@import url('./views/standings-view.css');
@import url('./views/match-view.css');
@import url('./views/test-view.css');

@import url('./components/vertical-auto-scroller.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/permanent-marker');    html {
    --lumo-base-color: #e6e0e0;
    --lumo-primary-color: hsl(233, 78%, 33%);
    --lumo-primary-color-50pct: hsla(233, 78%, 33%, 0.5);
    --lumo-primary-color-10pct: hsla(233, 78%, 33%, 0.1);
    --lumo-font-size: 1rem;
    --lumo-font-size-xxxl: 3rem;
    --lumo-font-size-xxl: 2.25rem;
    --lumo-font-size-xl: 1.75rem;
    --lumo-font-size-l: 1.375rem;
    --lumo-font-size-m: 1.125rem;
    --lumo-font-size-s: 1rem;
    --lumo-font-size-xs: 0.875rem;
    --lumo-font-size-xxs: 0.8125rem;
    --lumo-font-family: Permanent Marker;

}

.bordered {
    background: linear-gradient(#203203, #f0f0f0);
    border: 4px black;
    border-style: solid;
}
