@import url('./main-layout.css');

@import url('./views/tournament-select-view.css');
@import url('./views/standings-view.css');
@import url('./views/match-view.css');
@import url('./views/test-view.css');

@import url('./components/vertical-auto-scroller.css');
@import url('@fontsource/permanent-marker');    html {
    --lumo-base-color: #e6e0e0;
    --lumo-primary-color: hsl(233, 78%, 33%);
    --lumo-primary-color-50pct: hsla(233, 78%, 33%, 0.5);
    --lumo-primary-color-10pct: hsla(233, 78%, 33%, 0.1);
    --lumo-font-size: 1rem;
    --lumo-font-size-xxxl: 3rem;
    --lumo-font-size-xxl: 2.25rem;
    --lumo-font-size-xl: 1.75rem;
    --lumo-font-size-l: 1.375rem;
    --lumo-font-size-m: 1.125rem;
    --lumo-font-size-s: 1rem;
    --lumo-font-size-xs: 0.875rem;
    --lumo-font-size-xxs: 0.8125rem;
    --lumo-font-family: Permanent Marker;

}

.bordered-gold {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border: 4px black;
    border-style: solid;
}
.bordered-silver {
    background: linear-gradient(#f0f0f0, #808080, #f0f0f0);
    border: 4px black;
    border-style: solid;
}
.bordered-green {
    background: linear-gradient(#d0ffd0, #80d080, #d0ffd0);
    border: 4px black;
    border-style: solid;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}
